.ant-input-number {
  width: 100%!important;
}
.main {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ant-tabs {
  color: #7c7c7c!important
}
.apexcharts-tooltip-box {
  color: #2c3e50!important
}
.ant-tabs-ink-bar  {
  background: #6b5ee2!important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #6b5ee2!important;
}
.ant-tabs-tab:hover {
  color: #6b5ee2!important;
}
.ant-btn-primary {
  background: #302b63!important;
  border-color: #302b63!important;
}
.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  color: rgba(0, 0, 0, 0.25)!important;
  border-color: #d9d9d9!important;
  background: #f5f5f5!important;
  text-shadow: none!important;
  box-shadow: none!important;
}
.text {
  &-red {
    color: #ef4444;
  }
  &-green {
    color: #22c55e;
  }
}